* {
    box-sizing: border-box;
}

body {
    margin: 0;
 }

 button {
    background-color: #3882f6;
    border: 2em;
    border-radius: 20%;
 }

.page-container {
    width: 100%;
    background-color: aqua;
    height: 800px;
}

.header-container {
    display: flex;
    justify-content: space-around;
}

.header-link-container {
    display: flex;
    align-items: center;
}

.header-link {
    margin: 0 2rem;
}

.first-section-content {
    display:flex;
    background-color: orange;
    justify-content: space-around;
}

.website-description-container {
    display: flex;
    flex-direction: column;
    border: 20px red solid;
}

.sign-up-button {
    align-self: flex-start;
}