* {
    box-sizing: border-box;
}

body {
    margin: 0;
 }

.page-container {
    width: 100%;
    background-color: aqua;
    height: 800px;
}

.header-container {
    display: flex;
    justify-content: space-around;
}

.header-link-container {
    display: flex;
    align-items: center;
}

.header-link {
    margin: 0 2rem;
}

.first-section-content {
    display:flex;
    background-color: orange;
    justify-content: space-between;
}

.website-description-container {
}